<h1 class="cart-heading-padding">Shopping Cart </h1>
<% total = 0 %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col">Quantity</th>
      <th scope="col">Update Quantity</th>
      <th scope="col">Remove from Cart</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_array| %>
    <% product =  cart_array[0] %>
    <% quantity = cart_array[1] %>
    <tr>
      <td><%= image_tag product.photo_url, class: "cart-img"%></td>
      <td><%= link_to product.name.capitalize, product_path(product.id) %></td>
      <td>$<%= product.price%></td>
      <% total += (quantity * product.price) %>
      <td>$<%= quantity * product.price %> </td>
      <%= form_with url: update_cart_path(product.id), method: :patch do |f| %>
      <% if product.stock_count > 1 %>
      <td><%= f.select :quantity, options_for_select([*1..product.stock_count], :selected => quantity) %></td>
      <% else %>
      <td><%= f.select :quantity, options_for_select([product.stock_count], :selected => quantity) %></td>
      <% end %>
      <td><%= f.submit "Update Quantity", class: "btn btn-primary"%></td>
      <% end %>
      <td><%= link_to "Remove from Cart", remove_from_cart_path(product.id), class: "btn btn-primary"%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if total > 0 %>
<section>
<p>Cart Total: $<%= total %></p>
<p><%= link_to "Checkout Cart", new_order_path, class: "btn btn-primary"%></p>
</section>
<% else %>
<section>
<h3>Your cart is empty</h3>
</section>
<% end %>
