
<% if @current_user == nil %>
  <h2> You must sign in to view the fulfillment page. </h2>
<% else %>
<h2> <%= @current_user.name %>'s Fulfillment page </h2>
<%= render partial: "fulfillment" %>
<h3> Order count: <%= @orders.count %> </h3>
<h3> Fundraising Revenue: <%= @total_revenue %> </h3>

<ul>
  <% @orders.each do |order| %>
      <% order.orderproducts.each do |orderproduct| %>
        <li>
        <p> <%= link_to "Order number: #{order.id}", order_path(order.id) %></p>
        </li>
        <li>
        <p> Item sold: <%= orderproduct.product.name %></p>
        <ul>
          <li> Cost per creature: <%= orderproduct.product.price %> </li>
        </ul>
        <br>
        </li>
        <li>
        <p> Creature Parent: <%= orderproduct.product.user_id %> (you)
        </li>
        <li>
        <p> Order Status: <%= order.status %> </p>
        </li>
        <li>
        <p> Quantity in order <%= orderproduct.quantity %> </p>
        </li>
      <% end %>
  <% end %>
</ul>
<% end %>
