<h1> Viewing order #<%= @order.id %> </h1>

<h3> Adoption Parent: <%= @order.name %></h3>
<h3> Delivery Address: <%= @order.mailing_address %></h3>
<h3> Order Total: <%= @order.total_cost %></h3>
<h3> Order Status: <%= @order.status %></h3>

<table class="table">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>

  <% @order.orderproducts.each do |orderproduct| %>
    <tbody>
      <td><%= link_to orderproduct.product.name, product_path(orderproduct.product.id) %></td>
      <td><%= orderproduct.product.price %></td>
      <td><%= orderproduct.quantity %></td>
    </tbody>
  <% end %>
</table>
