<h1> Viewing order #<%= @order.id %> </h1>

<h3> Adoption Parent: <%= @order.name %></h3>
<h3> Delivery Address: <%= @order.mailing_address %></h3>

<table class="table">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>

  <tbody>
    <% @order.orderproducts.each do |orderproduct| %>
      <td><%= orderproduct.name %></td>
      <td><%= orderproduct.price %></td>
      <td><%= orderproduct.quantity %></td>
    <% end %>
    <td><%= @order.total_cost %></td>
  </tbody>

</table>
