<% if @current_user %>

  <%= form_with model: @category do |f|%>

    <h2>Add a category</h2>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.hidden_field :user_id, :value => @current_user.id %>

    <%= f.submit "Add category", class: "btn btn-primary" %>

  <% end %>
<% else %>
  <h3> Hi You have to be signed in to add a Category</h3>
<% end %>
