<% if @current_user %>

  <%= form_with model: @product do |f|%>

    <h2><%= page_title %></h2>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :stock_count %>
    <%= f.text_field :stock_count %>

    <%= f.label :price %>
   <%= f.text_field :price %>

   <%= f.label :description %>
   <%= f.text_area :description %>

   <%= f.label :photo_url %>
   <%= f.text_field :photo_url %>

   <%= f.label :category_id %>
   <%= f.select :category_id, Category.category_list %>

    <%= f.hidden_field :user_id, :value => @current_user.id %>

    <%= f.submit "Save Creature", class: "btn btn-primary" %>

  <% end %>
<% else %>
  <h3> Hi Animal Mom, sorry, you must be signed in to add inventory to your creature product line. </h3>
<% end %>
