<h2> Shop by Product </h2>

<section>
  <% if @products %>
  <% @products.each do |product| %>


  <p><%= image_tag product.photo_url %></p>
  <ul>

    <li><%= link_to product.name, product_path(product.id) %></li>
    <li><%= product.price %></li>
    <li><%= product.stock_count %></li>
    <li><%= product.category.name %></li>
    <li><%= product.description %></li>
  </ul>

  <% end %>
  <% end %>
</section>
