<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">

    <section class="nav-container">

    <nav class="top-nav">
      <div class="logo">
        <%= link_to "Adoptsy", products_path, class: "menu-text" %>
      </div>

      <div class="icon">
        <li><%= link_to image_tag("shopping-bag.png"), cart_path %>
          <span class="header-icons-noti">0</span>
        </li>
      </div>
    </nav>

    <nav class="bottom-nav">
    </nav>

    </section>

  </header>

  <section class="alert">
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <main>
    <%= yield %>
  </main>

  <footer>
    <h6>&copy; 2018 Adoptsy</h6>
  </footer>

</body>
</html>
